.header{

}

.nav{
    list-style-type: none;
}

h1{

}

.about-me{
    display: flex;
}

.about-content{

}

img{

}

p{

    
}

.projects{
    display: flex;
}

.project-one{


}

.project-two{

}

.project-three{

}

footer{

}